body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#connie {
    width: 100%;
    height: 100%;
}

#land-con {
    margin: 10%;
    height: 40%;
}

#logo {
    background-size: cover;
    position: relative;
    text-align: center;
    top: 85%;
    height: 60%;
    width: 60%;
    z-index: 0;
}

#land {
    font-family: 'Oswald';
    font-size: 120px;
    position: relative;
    letter-spacing: 1px;
    line-height: 120px;
    font-weight: 800;
    top: -440px;
    left: 40%;
    color: #6b4242;
    z-index: 3;
}

#reg-con {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    height: 40%;
}

li {
    text-align: right;
}
#abt {
    font-family: 'Work Sans';
    font-size: 25px;
    color: #6b4242;
    position: relative;
    top: -380px;
    z-index: 2;
    text-align: right;
}

#abt:hover {
    text-decoration: line-through;
}

#foot {
    background-color: #373b43;
}

#note {
    color: white;
    text-align: right;
}

#baq {
    text-align: left;
    margin-top: 2%;
    margin-left: 5%;
    color: #bf5e44;
}

#baq:hover {
    color:#cf8356;
    text-shadow: 1px 0px 15px #e6d0a0;

}

#login-form {
    width: 300px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
}

#button {
    padding-top: 0;
    size: 35;
}
#reg {
    position: relative;
    text-align: right;
    top: -460px;
    font-size: 20px;
    font-family: 'Oswald';
}

#nav { 
    font-family: 'Oswald';
    font-size: 30px;
}